*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: #fef6f0;
  color: #2c2c2c;
  scroll-behavior: smooth;
}

.navbar.navbar-scrolled {
  background-color: gray;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 20px;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-logo {
  display: flex;
  height: 100px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.navbar-links {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  height: 80px;
  gap: 40px;
}

.navbar-item {
  color: #2c2c2c;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.navbar-item:hover {
  transform: scale(1.05);
  background-color: white;
}

.navbar-hamburger-button {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1100;
}

#hamburger-button {
  font-size: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2c2c2c;
}

.hero {
  display: flex;
  height: 100vh;
  justify-content: left;
  align-items: center;
  background-image: url(pictures/hero-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  max-width: 600px;
  margin-left: 100px;
}

.hero-text-hook {
  color: #2c2c2c;
  font-size: 46px;
  margin-bottom: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.hero-text-hook2 {
  color: #2c2c2c;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.2);
}

.hero-text-introduction {
  color: #2c2c2c;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.booking-button {
  padding: 20px;
  color: #2c2c2c;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.booking-button:hover {
  transform: scale(1.05);
  background-color: white;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 20px;
  background-color: white;
  border-radius: 20px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #2c2c2c;
  margin-bottom: 40px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.service-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  grid-auto-flow: dense;
}

.service-item:last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  background-color: white;
  color: #2c2c2c;
  padding: 30px;
  width: 800px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.service-item h3,
.service-item p {
  color: #000000;
}

.service-item:hover {
  transform: scale(1.05);
  box-shadow: 4px 16px 48px rgba(0, 0, 0, 0.2);
}

.service-botox {
  background-image: url(pictures/botox-image1.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-microneedling {
  background-image: url(pictures/microneedling-image1.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-fillers {
  background-image: url(pictures/filler-image1.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-facials {
  background-image: url(pictures/faical-image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-prptreatment {
  background-image: url(pictures/prptreatment-image1.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-section {
  background-color: #2c2c2c;
  color: #fef6f0;
  padding: 40px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.footer-branding {
  transition: transform 0.5s ease;
}

.footer-branding:hover {
  transform: scale(1.1);
}

.footer-info {
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #2c2c2c;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .navbar-hamburger-button {
    display: block;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    height: auto;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .hero-image {
    height: auto;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    overflow: hidden;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service-list {
    grid-template-columns: 1fr;
  }

  .service-item {
    width: 90%;
  }
}
